.toolbar:hover {
  animation: pulse 1s;
}
.toolbar1:hover {
  animation: rubberBand 1s;
}
.toolbar2:hover {
  animation: headShake 1s;
}
.toolbar,
.toolbar1,
.toolbar2 {
  width: 3em;
  height: 3em;
  margin: 3px;
}
.key-span {
  color: red;
}
