canvas {
  display: block;
  margin: auto;
  background-color: white;
  border: 1px solid black;
}

.canvas-container {
  background-color: brown;
  margin: auto;
  width: 50vw;
  height: 50vh;
}
.canvas-page {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
}
.edit {
  grid-column: 2;
}
.icon {
  border: none;
  background-color: white;
  cursor: pointer;
}
