canvas {
  display: block;
  margin: auto;
  background-color: white;
  border: 1px solid black;
  height: 100%;
}

.canvas-container {
  background-color: brown;
  margin: auto;
  width: 30vw;
  height: 40vh;
}
.canvas-page {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}
.edit {
  grid-column: 2;
}
.icon {
  border: none;
  background-color: white;
  cursor: pointer;
}
