.main-menu a {
  padding: 2em 2em;
}

.main-header .main-nav a {
  transition: box-shadow 0.4s;
}

.main-header {
  margin-top: 0;
  box-shadow: inset 0px -6px 0 black;
}

.main-header a:hover {
  color: red;
}
