/* @media (min-width: 1060px) {
  .main-header .main-nav a:hover {
    box-shadow: inset 0 -6px 0 #58c93a;
  }
} */

@media (max-width: 1300px) {
  .gallery-container,
  .memes-gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 1fr));
    gap: 15px;
  }
  .main-header .main-nav a:hover {
    box-shadow: inset 0 -6px 0 #58c93a;
  }
}
@media (max-width: 880px) {
  .gallery-container,
  .memes-gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-layout > *:not(.full) {
    grid-column: 2;
  }
}
@media (max-width: 700px) {
  .gallery-container,
  .memes-gallery {
    grid-template-columns: 1fr 1fr;
  }

  .main-layout > *:not(.full) {
    grid-column: 2;
  }
}

/* @media (max-width: 780px) {

} */

@media (max-width: 780px) {
  .canvas-page {
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
  }
  .canvas-container {
    width: 15vw;
    height: 30vh;
    grid-row: 1;
    margin-inline-start: -330px;
    /* margin-inline-start: 45px; */
  }
  .edit {
    grid-row: 2;
    margin-inline-start: -330px;
  }
}
@media (max-width: 749px) {
  .canvas-page {
    margin-inline-start: -20px;
  }
}

/* @media (max-width: 600px) {
  .canvas-page {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
  }
  .edit {
    grid-column: 2;
  }
} */
/* .canvas-container {
  background-color: rgb(34, 29, 29);
  margin: auto;
  width: 30vw;
  height: 40vh;
} */
